.container{
    background-color: rgb(232, 232, 110);
    margin-top: 20px;
}
.card{
    background-color: blanchedalmond;
}
section{
    border: 1px solid black;
    height: 270px;
    width:500px;
    border-radius: 10px;
    padding:10px;
    background-color: rgb(218, 230, 230);
    box-shadow: 0px, 10px 15px rgb(245, 241, 241);
    margin-left: 350px;
}  

.card-title input{
    width: 350px;
    height: 35px;
    background-color: rgb(205, 232, 239);
    border: none;
    border-bottom: 3px dotted black;
    border-radius: 6px;
}
 .card-title{
     margin-left: 365px; 
}
.card-title h1:hover{
    color: rgb(244, 173, 19);
    background-color: aqua;
    border-radius: 5px;
    
}
.card-title h1{
    margin-left:48px;
    font-family: sans-serif;
    margin-right: 69%;
}
main{
    display: grid;
    grid-template-columns: auto auto;
}
main #a{
    margin-left:330px;
    font-weight: bold;
    margin-top: 30px;
}
.main #b{
    font-weight: bold;
    margin-top: 30px;
}
.nav{
    background-color:rgb(181, 188, 75);
    padding:20px;
}

.dark{
    color:#fff;
    background-color: #000;
}
.light{
    color: #000;
    background-color: #fff;
}

.report{
    padding:10px;
    background-color: rgb(47, 152, 155);
}
.report:hover{
    color:rgb(225, 57, 28);
    background-color: aqua;
}
.report marquee{
    font-size: 30px;
   
}
.report marquee:hover{
    color:aqua;
    background-color: rgb(225, 57, 28);

}
.card-title .bo{
    font-size: x-large;
    background-color: coral;
}
.card-title .bo:hover{
    color:white;
    background-color: #31749d;
}
